<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="/assets/scia.png" width="30" height="30" alt="">
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="table">Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="dataGrid">DataGrid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="graf">Graf</a>
        </li>
    </ul>
</nav>
<app-set></app-set>
<router-outlet></router-outlet>