Shown: <span class="badge badge-info"> <i class="fa fa-shopping-cart"></i> {{SciaDlls.length}}</span>
<!-- <br/><label>Search dll name: <input ng-model="searchText"></label> -->
<table class="table table-sm table-bordered table-striped">
  <tr>
    <th>ID</th>
    <th>
      <button class="btn btn-danger btn-sm" (click)="sortName()">
        Name
        <i *ngIf="!sortInfoName.ascending && sortInfoName.sorted" class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
        <i *ngIf="sortInfoName.ascending && sortInfoName.sorted" class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
      </button>
    </th>
    <th>Category</th>
    <th>Path</th>
    <th>
      <button class="btn btn-danger btn-sm" (click)="sortLoC()">
        LoC
        <i *ngIf="!sortInfoLoc.ascending && sortInfoLoc.sorted" class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
        <i *ngIf="sortInfoLoc.ascending && sortInfoLoc.sorted" class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
      </button>
    </th>
    <th>Comment</th>
    <th>#</th>
  </tr>
  <!-- <tr ng-repeat="item in SciaDlls | filter:searchText"> -->
  <tr *ngFor="let item of SciaDlls">
    <td style="vertical-align:middle">{{item.ID}}</td>
    <td style="vertical-align:middle">{{item.Name}}</td>
    <td style="vertical-align:middle">{{item.Category1.Name}}</td>
    <td style="vertical-align:middle">{{item.Path}}</td>
    <td style="vertical-align:middle">{{item.LoC}}</td>
    <td style="vertical-align:middle">{{item.coment}}</td>
    <td class="text-xs-center">
      <button class="btn btn-warning btn-sm" (click)="sortLoC(item.ID)">
        Select
      </button>
    </td>
  </tr>
</table>

<!--<router-outlet></router-outlet>-->
<!-- <button class="btn btn-primary" (click)="createProduct()">
      Create New Product
  </button>
  <button class="btn btn-danger" (click)="deleteProduct(-1)">
      Generate HTTP Error
  </button> -->